/* barlow-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/barlow-v13-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-100italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 100;
  src: url("./fonts/barlow-v13-latin-100italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 200;
  src: url("./fonts/barlow-v13-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 200;
  src: url("./fonts/barlow-v13-latin-200italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/barlow-v13-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 300;
  src: url("./fonts/barlow-v13-latin-300italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/barlow-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/barlow-v13-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/barlow-v13-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 500;
  src: url("./fonts/barlow-v13-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/barlow-v13-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 600;
  src: url("./fonts/barlow-v13-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/barlow-v13-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/barlow-v13-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/barlow-v13-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 800;
  src: url("./fonts/barlow-v13-latin-800italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/barlow-v13-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 900;
  src: url("./fonts/barlow-v13-latin-900italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  scrollbar-gutter: stable;
  body[data-bs-theme="dark"],
  body {
    background-color: rgb(7, 23, 53) !important;
    background-image: url(../src/img/titel-welle.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: "Barlow", sans-serif;
    a {
      text-decoration: none;
    }
    .background {
      padding-top: 15vh;
      header {
        h1 {
          font-size: 80px;
          font-weight: 800;
          letter-spacing: 0.2px;
          text-shadow: 5px 5px 6px rgba(4, 9, 11, 0.25),
            0px 0px 0px rgba(56, 189, 248, 0);
        }
        .subtitle {
          font-size: 27px;
          margin-bottom: 30px;
        }
        .filters {
          input {
            background-color: #ffffff;
            color: #141414;
            width: 300px;
            &:focus {
              background-color: #fff;
              color: #525252;
            }
            &::placeholder {
              color: #525252;
            }
          }
          .btn.btn-primary {
            background-color: #3e8ec0;
            border: 0;
            &:hover {
              background-color: #316a8d;
            }
            &.inactive {
              background-color: #1a4865;
            }
          }
        }
      }
      main {
        .hinweis-consent {
          margin-bottom: 50px;
          background-color: #00060cb0;
          padding: 30px;
          font-size: 18px;
        }
        padding-top: 40px;
        .card {
          background-color: transparent;
          color: #f5f5f5;
          border: none;
          a {
            img {
              transition: 0.2s ease-in-out;
              object-fit: contain;
              aspect-ratio: 1 / 1;
              &:hover {
                box-shadow: rgba(255, 255, 255, 0.07) 0px 1px 2px,
                  rgba(255, 255, 255, 0.07) 0px 2px 4px,
                  rgba(255, 255, 255, 0.07) 0px 4px 8px,
                  rgba(255, 255, 255, 0.07) 0px 8px 16px,
                  rgba(255, 255, 255, 0.07) 0px 16px 32px,
                  rgba(255, 255, 255, 0.07) 0px 32px 64px;
                transition: 0.2s ease-in-out;
              }
            }
            .card-body {
              padding: 25px 0 15px;
              .episode-title {
                color: #f5f5f5;
                font-weight: 700;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
  footer {
    background-color: #00060c;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #ffffff57;
    a {
      text-decoration: none;
      color: #3e8ec0;
    }
    .small {
      font-size: 14px;
    }
  }
  .CookieConsent {
    background: #3e8ec0 !important;
    button#rcc-decline-button {
      background: transparent !important;
      border: 2px solid #fff !important;
      border-radius: 5px !important;
    }
    button#rcc-confirm-button {
      background: #f5f5f5 !important;
      border-radius: 5px !important;
    }
    a{
      color:#fff;
      text-decoration:none !important;
      font-weight:600;
    }
  }
}
/* Responsiv */
@media (max-width: 575.98px) {
  h1 {
    font-size: 40px !important;
  }
  .subtitle {
    font-size: 25px !important;
  }
  .filters {
    flex-direction: column;
    input {
      width: 100% !important;
    }
  }
  .card {
    a {
      display: flex;
      flex-direction: row;
      img {
        width: 120px;
      }
      .card-body {
        padding-left: 20px !important;
      }
    }
  }
}
